# Ignore everything
/*
/*/
node_modules/
*.lock

# But not these files...
!*.gitignore
!*.pylintrc
!*.Xresources
!*.zshrc
!*.xinitrc
!.config
!images
!wallpapers
!_vimrc
!README.md
!arch
!mint
!init_vim.sh
!i3-layouts
!install_instructions
