# Ignore everything
/*
/*/
node_modules/
*.lock

# But not these files...
!*.gitignore
!*.pylintrc
!*.Xresources
!*.zshrc
!*.xinitrc
!README.md

# and not this folders
!images
!wallpapers
!_vimrc
!arch
!mint
!init_vim.sh
!i3-layouts
!install_instructions
!layouts

# and not this stuff from .config
!polybar
!termite
!compton.conf
!fontcoding
!Code/User/*.json
!Code/*.sh
