Xft.autohint: 0
Xft.antialias: 1
Xft.hinting: true
Xft.hintstyle: hintslight
Xft.dpi: 96
Xft.rgba: rgb
Xft.lcdfilter: lcddefault

!-------------!
! ROFI CONFIG !
!-------------!

! state			background	border		separator
rofi.color-window:	#ffffff,	#191919,	#191919	

! state			bg		fg		abg		hbg		hfg
rofi.color-normal:	#ffffff,	#191919,	#ffffff,	#191919,	#ffffff

! general
rofi.width: 15
rofi.padding: 30
rofi.hide-scrollbar: true
rofi.borderwidth: 0
rofi.columns: 1
rofi.lines: 5
rofi.separator-style: solid
rofi.font: Hack 10
rofi.theme: onedark

rofi.color-enabled: true
